
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="~/css/Site.css" rel="stylesheet" />
</head>

<body class="container">
        <img src="~/images/logo.jpg" class="logo" alt="logo"/>  
        <input type="button" class="btn btn-danger" value="Click me"/>
        <h1>Wellcome to ketan's book store Application'</h1>
</body>
</html>
